#### Задача 1 
Дана строка 
string_01 = “Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters.”

In [5]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

In [6]:
#1.Посчитайте, сколько в строке символов (исключая пробелы).

print(len(string_01) - string_01.count(' '))

250

In [32]:
len(string_01.replace(' ', ''))

250

In [8]:
#2.Посчитайте, сколько в строке слов.
len(string_01.split(' '))

61

In [22]:
#3.Функция принимает в качестве аргумента букву и выводит все слова из строки, заканчивающиеся на эту букву

def find_in_end(string, letter):
    words = string.replace(',', '').replace(')', '').replace('.', '').split()
    result = ''
    for word in words:
        if word[len(word)-1] == letter: 
            result += word + ' ' 

    return result

find_in_end(string_01, 's')

"his he's blows this as matters "

In [35]:
def find_end(string, letter):
    words = string.replace(',', '').replace(')', '').replace('.', '').split()
    result = ''
    for word in words:
        if word.endswith(letter): 
            result += word + ' ' 

    return result

find_end(string_01, 't')

"just put against just but it didn't not "

In [29]:
#4.Функция принимает в качестве аргумента букву и выводит все слова из строки, начинающиеся на эту букву (например, “m”).

def find_in_start(string, letter):
    words = string.lower().replace(',', '').replace(')', '').replace('.', '').split()
    result = ''
    for word in words:
        if word[0] == letter: 
            result += word + ' ' 

    return result

find_in_start(string_01, 'm')

'mama man my mama mama mean make matters '

In [37]:
def starts_with(string, letter):
    words = string.replace(',', '').replace(')', '').replace('.', '').split()
    result = ''
    for word in words:
        if word.startswith(letter.lower()) or word.startswith(letter.upper()): 
            result += word + ' ' 

    return result

starts_with(string_01, 'm')

'Mama man my Mama Mama mean make matters '

#### Задача 2 
Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [30]:
import random

In [40]:
#генерируем случайное шестизначное число, содержащее цифру 3

number = 0
while '3' not in str(number):
    number = random.randint(100000, 999999)
print(str(number))

313705

In [41]:
#генерируем случайную последовательность из 6 цифр, содержащую цифру 3

number = ''
while '3' not in number:
    number = ''.join([str(random.randint(0, 9)) for i in range(6)])
print(number)

308985

#### Задача 3
Дан список 
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610] Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100.

In [43]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [45]:
sum_list = 0
for i in list_01:
    if 10 < i < 100:
        sum_list += i
print(sum_list)

212

#### Задача 4 
Данные студентов представлены в виде списка списков:

1.Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

2.Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

3.Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [47]:
students = [ 
    ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],
    ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],
    ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
    ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
    ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
    ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
    ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
    ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"] 
            ]

In [48]:
#1. преобразуем в словарь
students_dict = dict()

In [49]:
for line in students:
    students_dict[line[0]] = line[1:]
    
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [52]:
#2.Функция принимает в качестве аргумента номер студента и номер группы и меняет номер группы на новый.

def change_number(student, group_number):
    students_dict[student][4] = group_number
    
change_number('0309', '3 сентября')
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', '3 сентября']}

In [58]:
#3.Функция принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. 

def group_students(group):
    for line in students_dict.values():
        if line[4] == group:
            print(line[0:3])

group_students('БСТ161')

['Антонов', 'Антон', 'Игоревич']
['Степанова', 'Наталья', 'Александровна']
['Боков', 'Игорь', 'Харитонович']

In [60]:
def group_students(group):
    for line in students_dict.values():
        if line[-1] == group:
            print(line[0], line[1], line[2])

group_students('БСТ161')

Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5 
Дана матрица:
matrix = [ [0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0] ] 

1.Выведите результат сложения всех элементов матрицы.

2.Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [61]:
matrix = [ 
    [0, 1, 2, 4, 8],
    [6, 2, 2, 1, 9],
    [3, 3, 3, 3, 3],
    [4, 6, 7, 1, 2],
    [5, 7, 3, 4, 0] 
        ]

In [62]:
import numpy as np

In [65]:
#1.Выведите результат сложения всех элементов матрицы
np.sum(matrix)

89

In [66]:
#через цикл
sum(sum(line) for line in matrix)

89

In [70]:
#2.Напишите алгоритм вычисления максимума из сумм элементов каждого столбца
np.sum(matrix, axis=0)

array([18, 19, 17, 13, 22])

In [71]:
max(np.sum(matrix, axis=0))

22

In [75]:
# если сумма по строкам
np.sum(matrix, axis=1)

array([15, 20, 15, 20, 19])

In [76]:
max(np.sum(matrix, axis=1))

20